<div class="container mt-5 mb-5">
    <div class="row row-cols-auto justify-content-centerg-5">
        
        <a href="index.php?pg=incluirContato" class="btn btn-primary">Incluir Novo Contato</a>
    
        <table class='table' style="border: 1px solid black">
            <thead>
                <tr>
                    <td style='font-weight: bold'>Id</td>
                    <td style='font-weight: bold'>Tipo</td>
                    <td style='font-weight: bold'>Descrição</td>
                    <td style='font-weight: bold'>Nome da Pessoa</td>
                    <td style='font-weight: bold'>Ações</td>
                </tr>
            </thead>
            <tbody>
                {{contentConsulta}}
            </tbody>
        </table>
    </div>
</div>